<h2>List of Animals</h2>

{{!-- the action portion of the form is what determines the route that you will be calling when you submit the form --}}
<form action="/animals/create" method="post">
{{!-- the method of the form is what determines the request type that is being made (get/post) --}}

    <label for="animal-name-input">
        Animal Name: 
        <input id="animal-name-input" type="text" placeholder="Theon Greyjoy" name="name">
    </label>
    
    <label for="isMale-checkbox">
        Male: 
        <input id="isMale-checkbox" type="checkbox" name="isMale" value="true">
    </label>

    <label for="isFemal-checkbox">
        Female: 
        <input id="isFemal-checkbox" type="checkbox" name="isFemale" value="true">
    </label>

    <br>
    <button>Create</button>
    {{!-- buttons in forms will auto sync to the form and when clicked will submit the data from the form using the endpoint (action) and the method (method) that is defined in the form parameters at the top --}}
</form>



<br>
<br>
<hr>

<h2>List of Animals</h2>
<div class="animals__container">
    {{#each animals}}
        <div class="animals__box">
            <h3>Name: {{this.name}}</h3>
            <h3>This Animale is a {{#if this.isMale}} Male {{else}} Female {{/if}}</h3>
            <a href="/animals/details/{{this._id}}">See More Details Here</a>
        </div>
    {{/each}}
</div>